[Unit]
Description=Launch the domofox api archive periodically
After=domofox.service

[Timer]
Unit=domofox-archive.service
OnCalendar=*-*-* *:00/10:00
AccuracySec=1s

[Install]
WantedBy=multi-user.target
