[Unit]
Description=Domofox API server
After=network.target

[Service]
Type=exec
WorkingDirectory=/home/yoann/domofox/api
ExecStart=/usr/bin/node /home/yoann/domofox/api/index.js
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
