[Unit]
Description=Launch the domofox api regultation periodically
After=domofox.service

[Timer]
Unit=domofox-regulate.service
OnCalendar=*-*-* *:*:00/10
AccuracySec=1s

[Install]
WantedBy=multi-user.target
