[Unit]
Description=Domofox archive launch
Wants=domofox-archive.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/curl -s http://localhost:3000/api/traces/archive
