[Unit]
Description=Domofox local browser launch
Wants=domofox.service
ConditionFileIsExecutable=/opt/domofox/linux/domofox-browser.sh
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xinit /opt/domofox/linux/domofox-browser.sh "http://127.0.0.1/" -- -nocursor

[Install]
WantedBy=multi-user.target
